.main {
  max-width: 800px; /* Set the maximum width you desire */
  margin: 0 auto; /* Center the container */
  padding: 0 0; /* Add some padding if needed */
  margin-top: 1px;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 10px;
}

.qrcode {
  /* Set the maximum width you desire */

  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.logo {
  width: 60px;
  display: block;
}

.main span {
  display: block;
  color: "black";
  font-size: 17px;
  font-weight: 500;
}

.text {
  margin-bottom: 10px;
}
