.main {
  max-width: 800px; /* Set the maximum width you desire */
  margin: 0 auto; /* Center the container */
  padding: 0 0; /* Add some padding if needed */
  margin-top: 30px;
  padding-left: 7px;
  padding-right: 7px;
}

.qrcode {
  /* Set the maximum width you desire */

  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
